/* Set defaults for elements*/

html {
      -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1;
  /*Correct the line height in all browsers.*/
  box-sizing: border-box;
}

*, *:before, *:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

/* Remove outline for non-keyboard :focus */

*:focus:not(.focus-visible) {
  outline: none;
}

/* Optional: Customize .focus-visible */

.focus-visible {
  outline: 1px dotted $color__focus;
}

body {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

main {
  display: block;
  /*Add the correct display in IE.*/
}

h1, h2, h3, h4, p, blockquote, figure, ol, ul {
  margin: 0;
  padding: 0;
}

main, li {
  display: block;
}

h1, h2, h3, h4 {
  font-size: inherit;
}

strong {
  font-weight: bold;
}

iframe {
  border: none;
}

a, button {
  color: inherit;
  /*transition: color .3s, background-color .3s;*/
}

a {
  text-decoration: none;
}

button {
  overflow: visible;
  border: 0;
  padding: 0;
  margin: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
}

::-moz-focus-inner {
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}
