@mixin accordion_padding() {
  padding-left: rem(15);
  padding-right: rem(15);
  padding-top: rem(10);
  padding-bottom: rem(10);
  /*border-radius: rem(7);*/

  @media screen and (min-width: $size__large) {
    padding-left: rem(20);
    padding-right: rem(20);
  }
}

.accordions {
  &__accordion {
    margin-bottom: rem(10);

    & + .pagination {
      margin-top: rem(25);

      @media screen and (min-width: $size__large) {
        margin-top: rem(35);
      }
    }

    &.active {
      & .accordions__arrow {
        @include transform(rotate(180deg));
      }

      & .accordions__toggler {
        background-position: 0% 0%;
        color: white;
      }
    }
  }

  &__toggler {
    /*@include linear-gradient(90deg, $color__primary, $color__secondary 12.5%, $color__tertiary 25%, $color__quaternary 37.5%, $color__quaternary 50%, $color__grey 50%);*/
    @include linear-gradient(90deg, #dc2928, #952491);
    @include accordion_padding;
    @include flexbox;
    @include align-items(center);
    @include justify-content(space-between);
    cursor: pointer;
    background-position: 100% 0%;
    background-size: 200% 100%;
    transition: background-position .3s, color .3s;
  }

  &__title {
    font-family: $font__secondary;
    color: white;
    font-size: rem(18);
    font-style: italic;
    font-weight: 600;

    @media screen and (min-width: $size__large) {
      font-size: rem(24);
    }
  }

  &__arrow {
    margin-left: rem(15);
    @include flex-shrink(0);
  }

  &__pullout {
    @include accordion_padding;

    h3 {
      font-weight: 600;
      margin-top: rem(10);
      margin-bottom: rem(5);
      font-size: rem(17);
    }

    p {
      margin-bottom: rem(5);
      line-height: rem(25);
      font-weight: 300;

      @media screen and (min-width: $size__large) {
        margin-bottom: rem(15);
      }
    }
  }
}
