.grecaptcha-badge {
  visibility: hidden;
  opacity: 0;
  transition: linear opacity 1s;

  &.active {
    z-index: 2;
    visibility: visible;
    opacity: 1;
    transition: linear opacity 1s;
  }
}
