.bottom-bar {
  &__menu > li {
    margin-right: rem(25);
    padding-top: rem(17);
    padding-bottom: rem(30);

    &:last-child {
      margin-right: 0;
    }
  }

  & a:hover, & a:focus, & a:active {
    /*color: white;*/
  }
}
